@model WeddingApplication.ViewModels.ShopItemsViewModel
@{
    <title>@ViewData["Title"] - WeddingApplication</title>
    <link rel="stylesheet" href="~/css/shop-list.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
}
<body>
    <div class=" body-content">
        <div class= "item-box">
            <div class="item-title-holder">
                <h1>Registry</h1>
                <div class="input-group">
                    @Html.DropDownListFor(model => model.Category,
                             new List<SelectListItem> {
                    new SelectListItem { Value = "All Categories" , Text = "All Categories" },
                    new SelectListItem { Value = "Fund" , Text = "Fund" },
                    new SelectListItem { Value = "House" , Text = "House" },
                    new SelectListItem { Value = "Kitchen" , Text = "Kitchen" },
                    new SelectListItem { Value = "Misc" , Text = "Payton's Dumb Stuff" }
                    },
                             new { @class = "textbox", id = "txtCategory" })

                    @Html.DropDownListFor(model => model.Price,
                            new List<SelectListItem> {
                    new SelectListItem { Value = "All Prices" , Text = "All Prices" },
                    new SelectListItem { Value = "10" , Text = "$0 - 9.99" },
                    new SelectListItem { Value = "25" , Text = "$10.00 - $24.99" },
                    new SelectListItem { Value = "100" , Text = "$25.00 - $99.99" },
                    new SelectListItem { Value = "250" , Text = "$100 - $249.99" },
                    new SelectListItem { Value = "251" , Text = "$250+" }
                    },
                             new { @class = "textbox", id = "txtPrice" })
 
                </div>
            </div>
            <div class="item-holder">
                    @if (Model != null)
                    {
                        foreach (WeddingApplication.ViewModels.ShopItemsViewModel shopItems in Model.Items)
                        {
                            <div class="item" id="@shopItems.ItemId">
                                <div class="img-holder">
                                <img src=@shopItems.ImgURL alt="Image" class="fit-image" />
                                </div>
                                    <div class="info-holder">
                                        <p>Amount Needed: <em>@shopItems.Quantity</em></p>
                                    <p>@shopItems.Name</p>
                                    <p>@shopItems.Category</p>
                                    <button>Buy Now!</button>
                                    </div>
                                    

                            </div>
                        }
                    }
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        $(".toggle-btn").click(function () {
            $(".toggle-btn").removeClass("active");

            $(this).addClass("active");

            var selectedValue = $(this).data("btn-id");

            $("#selected-value").text("Selected Value: " + selectedValue);
        });
        $(".toggle-btn2").click(function () {
            $(".toggle-btn2").removeClass("active");

            $(this).addClass("active");

            var selectedValue = $(this).data("btn-id");

            $("#selected-value2").text("Selected Value: " + selectedValue);
        });
        $(".toggle-btn3").click(function () {
            $(".toggle-btn3").removeClass("active");

            $(this).addClass("active");

            var selectedValue = $(this).data("btn-id");
            $("#selected-value3").text("Selected Value: " + selectedValue);
        });
    });
</script>
<script type="text/javascript">
    document.getElementById("txtCategory").onchange = function () {

        $('.item').css('display', 'none');
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetItems", "WishList")',
            data: { category: document.getElementById("txtCategory").value, price : document.getElementById("txtPrice").value },
            success: function (ids) {
                handleFilters(ids);
            },
            error: function () { alert('Failed to get items, displaying all!'); }
        });
    }
</script>