@model WeddingApplication.ViewModels.ShopItemsViewModel
@{
    <title>@ViewData["Title"] - WeddingApplication</title>
    <link rel="stylesheet" href="~/css/shop-list.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
}
<body>
    <div class=" body-content">
        <div class= "item-box">
            <div class="item-title-holder">
                <div class="title-holder">
                    <p style="margin: 0;">Registry</p>
                </div>
                <div class="input-group">
                      <div class="custom-select" id="customSelect">
                        <div class="selected-option" onclick="toggleOptions()">Select Category</div>
                        <div class="options" id="options">
                            <div class="option" onclick="selectOption('All Categories')"><em>All Categories</em></div>
                            <div class="option" onclick="selectOption('Fund')">Fund</div>
                            <div class="option" onclick="selectOption('House')">House</div>
                            <div class="option" onclick="selectOption('Kitchen')">Kitchen</div>
                            <div class="option" onclick="selectOption('Misc')">Payton's Dumb Stuff</div>
                        </div>
                    </div>
                    <div class="custom-select" id="customSelectPrice">
                        <div class="selected-option" onclick="toggleOptions2('customSelectPrice')">Select Price Range</div>
                        <div class="options" id="optionsPrice">
                            <div class="option" onclick="selectOption2('All Prices')">All Prices</div>
                            <div class="option" onclick="selectOption2('$0 - 9.99')"> $0 - 9.99</div>
                            <div class="option" onclick="selectOption2('$10.00 - $24.99')"> $10.00 - $24.99</div>
                            <div class="option" onclick="selectOption2('$25.00 - $99.99')"> $25.00 - $99.99</div>
                            <div class="option" onclick="selectOption2('$100 - $249.99')"> $100 - $249.99</div>
                            <div class="option" onclick="selectOption2('$250+')"> $250+</div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="item-holder">
                    @if (Model != null)
                    {
                        foreach (WeddingApplication.ViewModels.ShopItemsViewModel shopItems in Model.Items)
                        {
                            <div class="item" id="@shopItems.ItemId">
                                <div class="img-holder">
                                    <img src=@shopItems.ImgURL alt="Image" class="fit-image" />
                                </div>
                                 <div class="info-holder">
                                     <div class="description-holder">
                                            <p>@shopItems.Name</p>
                                            <p>$@shopItems.Price</p>
                                        
                                     </div>
                                     <div class="button-holder">
                                        <button class="buy-button">Buy Now!</button>
                                     </div>
                                     <div class="quantity-holder">
                                         <p>Requested: @shopItems.Quantity </p>
                                     </div>
                                    
                                 </div>
                                    

                            </div>
                        }
                    }
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        $(".toggle-btn").click(function () {
            $(".toggle-btn").removeClass("active");

            $(this).addClass("active");

            var selectedValue = $(this).data("btn-id");

            $("#selected-value").text("Selected Value: " + selectedValue);
        });
        $(".toggle-btn2").click(function () {
            $(".toggle-btn2").removeClass("active");

            $(this).addClass("active");

            var selectedValue = $(this).data("btn-id");

            $("#selected-value2").text("Selected Value: " + selectedValue);
        });
        $(".toggle-btn3").click(function () {
            $(".toggle-btn3").removeClass("active");

            $(this).addClass("active");

            var selectedValue = $(this).data("btn-id");
            $("#selected-value3").text("Selected Value: " + selectedValue);
        });
    });
</script>
<script type="text/javascript">
    document.getElementById("txtCategory").onchange = function () {

        $('.item').css('display', 'none');
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetItems", "WishList")',
            data: { category: document.getElementById("txtCategory").value, price: document.getElementById("txtPrice").value },
            success: function (ids) {
                handleFilters(ids);
            },
            error: function () { alert('Failed to get items, displaying all!'); }
        });
    }
    document.getElementById("txtPrice").onchange = function () {

        $('.item').css('display', 'none');
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetItems", "WishList")',
            data: { category: document.getElementById("txtCategory").value, price: document.getElementById("txtPrice").value },
            success: function (ids) {
                handleFilters(ids);
            },
            error: function () { alert('Failed to get items, displaying all!'); }
        });
    }
</script>