@model WeddingApplication.ViewModels.ShopItemsViewModel
@{
    <title>@ViewData["Title"] - WeddingApplication</title>
    <link rel="stylesheet" href="~/css/shop-list.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
}
<body>
    <div class=" body-content">
        <div class="item-box">
            <div class="item-title-holder">
                <div class="title-holder">
                </div>
                <div class="input-group">
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown link
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" onclick="FilterManager.setFilter('category', 'All')"><em>All Categories</em></a>
                            <a class="dropdown-item" onclick="FilterManager.setFilter('category', 'Fund')">Fund</a>
                            <a class="dropdown-item" onclick="FilterManager.setFilter('category', 'Home')">Home</a>
                            <a class="dropdown-item" onclick="FilterManager.setFilter('category', 'Kitchen')">Kitchen</a>
                            <a class="dropdown-item" onclick="FilterManager.setFilter('category', 'Misc')">Payton's Dumb Stuff</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-holder">
                @if (Model != null)
                {
                    foreach (WeddingApplication.ViewModels.ShopItemsViewModel shopItems in Model.Items)
                    {
                        <div class="item" id="@shopItems.ItemId">
                            <div class="img-holder">
                                <img src=@shopItems.ImgURL alt="Image" class="fit-image" />
                            </div>
                            <div class="info-holder">
                                <div class="description-holder">
                                    <p>@shopItems.Name</p>
                                    <p>$@shopItems.Price</p>

                                </div>
                                <div class="button-holder">
                                    <button class="buy-button">Buy Now!</button>
                                </div>
                                <div class="quantity-holder">
                                    <p>Requested: @shopItems.Quantity </p>
                                </div>

                            </div>


                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        var apiUrl = '@Url.Action("GetItems", "WishList")';
    </script>
</body>